@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar css */

.nav-item {
    padding: 8px 12px;
    border-radius: 6px;
    background: #F9FAFB;
    color: #182230;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-item:hover {
    padding: 8px 12px;
    border-radius: 6px;
    background: #E93A7D;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-item-active {
    padding: 8px 12px;
    border-radius: 6px;
    background: #E93A7D;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-item-dropdown {
    padding: 8px 12px;
    border-radius: 6px;
    background: transparent;
    color: #182230;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-item-dropdown:hover {
    padding: 8px 12px;
    border-radius: 6px;
    background: #E93A7D;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-item-dropdown-active {
    padding: 8px 12px;
    border-radius: 6px;
    background: #E93A7D;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.nav-dropdown {
    padding: 8px 12px;
    border-radius: 6px;
    background: #F9FAFB;
    color: #182230;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.switch-div-wrapper {
    padding: 16px;
    border-radius: 12px;
    background: #F6F8FA;
}

.i-wrapper {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: #F4EBFF;
}

.s-text1 {
    color: #525866;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
}

.s-text2 {
    color: #E93A7D;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.084px;
    text-decoration-line: underline;
}

.b-nav-name {
    color: #344054;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.b-nav-email {
    color: #475467;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}